*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

}

body{
    background-image: url("../img piano/close-up-synthesizer-keys-with-blurred-background_169016-10987.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.navbar{
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.logo{
    width: 250px;
    height: 150px;
    margin-top: 0px;
}
.navItems{
    display: inline-flex ;
    
}
#slogan{
    text-align: center;
    position: absolute;
    margin-top: 47px;
    margin-left: 400px;
    font-size: 60px;
    font-weight: 600;
    color: rgb(213, 215, 217);
    text-shadow:
    0 0 7px #fff,
    0 0 151px rgb(86, 88, 84);
    
}
.wallpaper{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    margin-top: 0;
    padding: 0;
    margin-right: 0;
}
.piano-card{
    height: 400px;
    width: 90%;
    margin-left: 65px;
    margin-top: 50px;
    border-radius: 30px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    box-shadow:  0 3 5 red;
    cursor: pointer;
    filter: drop-shadow(0.5rem 0.5rem 1rem #000000);
}


#container {
  position:  relative;
  /* right: 0px; */
  left: 40%;
  top:10rem;
  background-color: white;
  border-radius: 35px;
  width: 120%;
  display: flex;
  box-shadow: #847373;

}
@media(max-width: 1075px) {
  #container {
    position:  relative;
    /* right: 0px; */
    left: 17%;
    top:10rem;
    background-color: grey;
    border-radius: 35px;
    width: 100%;
    display: flex
  }
}

.piano-keys {
  width: 50%;
  margin: 30 auto;
  list-style: none;
  cursor: pointer;
  border: #000000;
  
  
}

.white {
  width: 80%;
  height: 20rem;
  background-color: white;
  border: 1px solid black;
  /* margin: 0 2px; */
  display: flex;
  text-align: center;
}

.black  {
  width: 50%;
  height: 12rem;
  background-color: black;
  /* border: 0px solid white; */
  margin: 0 2px;
  border-radius: 0px;
  display: flex;
  z-index: 1; 
}

#a, #w, #s, #e, #d, #f, #g, #h, #j, #k, #o, #l, #p, #c, #t, #y, #u{
  font-size: 50px;
  text-align: center;
  border-radius: 0px;
  position: relative;
  top: 15%;
}


.black{
  text-align: center;
  color: #fff;
}

.blamove{
  position: absolute;
  top: 0%;
  left: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.5rem;
 

}

#e{
  right: 9%;
  font-size: 70px;
  display: inline;
}
#w{
  right: 2%;
  font-size: 50px ;
  display: inline;
}
#t{
  right: 5.5%;
  font-size: 100px;
  display: inline;
}
#y{
  right:12% ;
  font-size: 70px ;
}
#u{
  right: 18%;
  font-size: 60px;
}
#o{
  right: 15%;
  font-size: 60px;
}
#p{
  right: 21%;
  font-size: 55px;
}
